[submodule "external/rapidjson"]
	path = external/rapidjson
	url = https://github.com/Wire-Network/rapidjson.git
[submodule "external/wirejs"]
	path = external/wirejs
	url = https://github.com/Wire-Network/wirejs-native.git
